/*
Banquignols
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cantarellregular';
  src: url('fonts/cantarell-regular-webfont.eot');
  src: url('fonts/cantarell-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/cantarell-regular-webfont.woff') format('woff'),
  url('fonts/cantarell-regular-webfont.ttf') format('truetype'),
  url('fonts/cantarell-regular-webfont.svg#cantarellregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,body{
  height: 100%;
}
body{
  background: #ccc;
  border:none;
  margin:0;
  text-align: left;
  color: #0f0f0f;
  font-style: normal;
  font-variant:normal;
  line-height: 1.78em;
  font-weight: lighter;
  font-size:0.79em;
  text-indent:0em;
  font-family:"cantarell-regular", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5{text-decoration:none}
button{cursor: pointer;}
a:link,a:visited {color: /*#2184BD*/#D18114;text-decoration:none;}  
pre{
  border:solid 1px #ccc;
  border-radius: 4px;
  background: #DCD6CD;
  box-shadow: 0px 1px #FFF;
  color:#222;
  text-shadow: 0 1px #fff;
  padding: 6px 12px;
  text-indent:0;
  line-height:1.6em;
  font-size:1.2em;
  white-space:pre-wrap;
}
:focus {outline: 0;}
img.wp-smiley {
  float: none;
  margin-bottom: -0.38em;
}
img {
  max-width: 100%;
  height: auto;
}


#wrap{
  height:100%;
  width:100%;
  position:relative;
  float:left;
  padding:0;
  margin:0;
}
article{
  width:100%;
  min-height:100%;
  position:relative;
  float:left;
}
article h1{
  font-size:4.2em;
  font-weight: lighter;
  text-align: center;
  line-height: 1.2em;
}
article h4{
  font-size:2em;
  font-size: 1.4em;
  line-height: 2.02em;
  font-weight: lighter;
}
article.top{
  background:url("background-body.png") repeat #222;
  color:#fff;
  box-shadow: 0px 1px #FFF, 0 -4px 4px #111 inset;
  text-shadow:0px 1px 2px #000, 0 8px 8px #000;
  z-index:2;
  overflow:hidden;
}

.speetch{
  width:90%;
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50% , -50%);
  -webkit-transform:translate(-50% , -50%);
}

a.next{
  display:block;
  cursor: pointer;
  color:#fff;
  position:absolute;
  bottom:8px;
  left:50%;
  transform:translate(-50% , 0);
  background: transparent;
}
a.next:before{
  font-family: 'FontAwesome';
  content:"\f103";
  font-size:30px;
}

nav#loading{
  max-width:1030px;
  margin: 25px auto;
  text-shadow: 0 1px #fff;
  text-align:center;
}
nav#loading p{
  width:50px;
  display: inline-block;
  animation-direction: normal;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: loading;
  /*For the dummie webkit:*/
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: loading;
}
nav#loading p:before{
  font-family: 'FontAwesome';
  content:"\f110";
  font-size:50px;
}
@-webkit-keyframes loading{
0% {-webkit-transform: rotate(0deg);}
100% {-webkit-transform: rotate(359deg);}
}
@keyframes loading {
0% {transform: rotate(0deg);}
100% {transform: rotate(359deg);}
}

nav.dock{
  position:fixed;
  bottom: 0;
  left:0;
  width:100%;
  height: 40px;
  background:rgba(34,34,34,0.75);
  box-shadow: 0 -1px rgba(34, 34, 34, 0.84);
  z-index:2;
}
ul.alignCenter{
  max-width: 1030px;
  position:relative;
  margin:0 auto;
  padding:0;
}
a.top{
  display:block;
  cursor: pointer;
  color:#fff;
  position:relative;
  float:right;
  margin-right:18px;
  height:38px;
  width:38px;
}
a.top:before{
  font-family: 'FontAwesome';
  content:"\f0de";
  font-size: 28px;
  line-height: 50px;
  text-indent: 0px;
  margin-left: 10px;
  text-shadow: 0 1px 1px #222;
}
/*Search*/
.twitter-typeahead{
  margin-top: 5px;
  margin-left: 18px;
  position: relative;
  display: inline-block;
}
.typeahead,.tt-query,.tt-hint {
  width: 375px;
  height: 28px;
  padding: 0;
  font-size: 1.1em;
  box-shadow: 0 1px 1px #222;
  border-radius: 4px;
  border:none;
  outline: none;
  text-align: center;
}
.typeahead {
  background: #ccc;
  color: #222;
}
.typeahead:focus {
  background: #eee;
}
.tt-query {
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999
}
.tt-dropdown-menu {
  width: 375px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0 2px 3px #222;
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 100;
  display: none;
}
.tt-suggestions{
  display: block;
}
.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
  white-space:nowrap;
  cursor: pointer;
}
.tt-suggestion.tt-cursor {
  background-color: #ccc;
}
.tt-suggestion p {
  margin: 0;
}
/*Search End*/

section{
  max-width:1030px;
  margin: 25px auto;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-shadow: 0px 1px #e8e8e8;
  background: #eee;
  text-shadow: 0 1px #fff;
}
section a:link, section a:visited{color:#B05702;}

ul.postContent{
  margin: 20px 40px;
  padding:0;
  display:inline-block;
  position:relative;
}
section h2{
  display:block;
  width:100%;
  text-align:center;
  margin-bottom: 50px;
  font-weight: lighter;
  font-size: 2em;
}
section h2  a:link, section h2  a:visited {
  color: #222;
}
section h2 a:before {
  font-family: 'FontAwesome';
  content: '\f0c1 ';
  color: #bbb;
  font-size: 0.8em;
}
ul.note{
  width:190px;
  margin-left: 10px;
  font-size:25px;
  height:100%;
  padding:0;
  display:inline-block;
  top: 0;
  transform: translate(0 , -104%);
}
ul.note li{
  list-style:none;
  margin:0 2px 22px 8px;
  padding:0
}
ul.note li:before{
  font-size:18px;
}
ul.note li:nth-child(1):before{
  content:"site: ";
}
ul.note li:nth-child(2):before{
  content:"e-banking: ";
}

ul.bloc{
  width:calc(50% - 100px);
  display:inline-block;
  margin:0;
  padding:0;
}
ul.bloc li{
  padding:0;
  list-style:none;
}
ul.bloc li p{
  color:#000;
  font-size: 1.1em;
}
ul.bloc li p:before{
  color:#222;
  font-size: 0.84em;
}

ul.bloc.left li:nth-child(1) p:before{content:"Site: "}
ul.bloc.left li:nth-child(2) p:before{content:"Pays/IPs: "}
ul.bloc.left li:nth-child(3) p:before{content:"Support SSL: "}
ul.bloc.left li:nth-child(4) p:before{content:"Serveur applicatif détecté: "}
ul.bloc.left li:nth-child(5) p:before{content:"Protocoles supportés: "}
ul.bloc.left li:nth-child(6) p:before{content:"Ciphers: "}
ul.bloc.left li:nth-child(7) p:before{content:"Confidentialité persistante: "}
ul.bloc.left li:nth-child(8) p:before{content:"Trackers: "}
ul.bloc.left li:nth-child(9) p:before{content:"Flash: "}
ul.bloc.left li:nth-child(10) p:before{content:"Frames: "}

ul.bloc.right li:nth-child(1) p:before{content:"E-Banking: "}
ul.bloc.right li:nth-child(2) p:before{content:"Pays/IPs: "}
ul.bloc.right li:nth-child(3) p:before{content:"Support SSL: "}
ul.bloc.right li:nth-child(4) p:before{content:"Serveur applicatif détecté: "}
ul.bloc.right li:nth-child(5) p:before{content:"Protocoles supportés: "}
ul.bloc.right li:nth-child(6) p:before{content:"Ciphers: "}
ul.bloc.right li:nth-child(7) p:before{content:"Confidentialité persistante: "}
ul.bloc.right li:nth-child(8) p:before{content:"Trackers: "}
ul.bloc.right li:nth-child(9) p:before{content:"Flash: "}
ul.bloc.right li:nth-child(10) p:before{content:"Frames: "}

button.more{
background: transparent;
border: none;
padding:0;
width: 100%;
height:28px;
margin-bottom: -24px;
}
button.more:before{
  pointer:cursor;
  font-family: 'FontAwesome';
  color:#bbb;
  font-size: 28px;
  line-height: 0;
  text-indent: 0px;
  text-shadow: 0 1px #fff;
}
button.more[title="more"]:before{
  content:"\f055";
}
button.more[title="less"]:before{
  content:"\f056";
}
button.more[title="less"]{display:none;}
ul#content.show > button.more[title="more"]{display:block;}
ul#content.show > button.more[title="less"]{display:none;}

footer{
  width:100%;
  min-height:25px;
  position:relative;
  float:left;
  background:url("background-body.png") repeat #222;
  color:#fff;
  box-shadow: 0px -1px #FFF, 0 4px 4px #111 inset;
  text-shadow:0px 1px 2px #000;
  z-index:2;
  padding: 12px 0;
  text-align: center;
}

@media (max-width:890px) {
  section{
    border-radius:0;
  }
  ul.bloc{
    width:calc(100% - 200px);
  }
}
@media (max-width:530px) {
  .speetch {
    position: relative;
    top: 0;
    left: 4%;
    transform: translate(0, 0);
  }
  ul.note{
    width:100%;
    display: inline;
  }
  ul.bloc{
    width:100%;
    margin:50px 15px 0 15px;
    transform: translate(0 , 0);
  }
  ul.postContent{
    margin: 20px 15px;
  }
  a.top {
	margin-right:4px;
  }
  .twitter-typeahead {
    width:calc(100% - 62px);
  }
  .typeahead, .tt-query, .tt-hint {
    width: 100%;
  }
}
